/*CSS test for sass
C:\Users\Dumbledore\Desktop\OPC\MODULE-3\CarolineGomot_3_15122021\assets\sass>sass --watch C:\Users\Dumbledore\Desktop\OPC\MODULE-3\CarolineGomot_3_15122021\assets\sass\style.scss:C:\Users\Dumbledore\Desktop\OPC\MODULE-3\CarolineGomot_3_15122021\assets\css\style.css*/

/*maincolor purple, color 2 pink color 3 green color 4 grey*/


	$mainColor: rgba(147,86,220,1);
	$color2: rgba(255,121,218,1);
	$color3: rgba(153,226,208,1);
	$color4: rgba(246,246,246,1);
	$color5: #eaeaea;
	$loadAnimation-dur: 3000ms;
	$loadAnimation-delay: 450ms;
	$loadAnimationHide: $loadAnimation-dur + $loadAnimation-delay;
	$breakpointmobile: 640px;
	$breakpointtablet: 768px;
	$breakpointdesktop: 1024px;


@mixin googleFonts($font){
	@import url('https://fonts.googleapis.com/css2?family=#{$font}');
}

/*FONTS*/
@include googleFonts('Roboto');
@include googleFonts('Shrikhand');




@mixin box-shadow{
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}

@mixin centerBlock{
	margin-left: auto;
	margin-right: auto;
}

@mixin noPaddingNoMargin{
	padding: 0px;
	margin: 0px;
}

@mixin border-radius($corner){
	border-radius: $corner;
}

@mixin articleBorderRadius($imgCorner){
	border-top-left-radius: $imgCorner;
	border-top-right-radius: $imgCorner;
}

@mixin hoverAnimationBigger{
		transform: scale(1);
		transition: transform 500ms;
}

@keyframes restaurantappear {
 
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
 } 


@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    visibility: hidden;
 }




@keyframes slide-out-left {
    0% {
        transform: translateY(0,0);
    }

    100% {
        transform: translateY(-100%,0);
    }
}
}


/*FAIRE UN MIXIN GREY BACKGROUND ?*/


*{
	box-sizing: border-box;
	transition: all 450ms;

}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	margin: auto;
	transition: 3000ms;
	


}

/*Container*/

.container{
	width: 100%;
  	@include centerBlock;
}

ul{
	list-style-type: none;
	padding: 0;
}

a{
	color: black;
	text-decoration: none;
}



h3{
	font-style: normal;
	padding: 10px;
	font-size: 2em;
}

h4{
	@include noPaddingNoMargin;

}

p{
	@include noPaddingNoMargin;
}


.bodyanim{
	position: absolute;
	display: flex;
	align-items: center;
	background-color: $mainColor;
	width: 100%;
	height: 100vh;
	z-index: 999;
	animation: loader 1000ms 4000ms ease-in-out forwards;
	& p{

	color: white;
	text-align: center;
	font-family: 'Shrikhand';
	font-size: 5em;
	padding: 0 50 50px;
	margin: auto;
		& .load1{
			animation: loader 1000ms 4000ms ease-in-out;
			animation-delay: .1s;
		}
		& .load2{
			animation: loader 1000ms 4000ms ease-in-out;
			animation-delay: .5s;
		}
		& .load3{
			animation: loader 1000ms 4000ms ease-in-out;
			animation-delay: .9s;
		}

}

}



/*HEADER*/


header {
	img {
	@include centerBlock;
	max-width: 50%;
	display: block;
	padding: 15px;
}
}

.chapeau{
	background-color: $color4;
	text-align: center;
	padding-bottom: 20px;
		label{
		display: none;
		}
		input{
		padding: 15px;
		background-color: $color5;
		text-align: center;
		border-style: hidden;
		width: 100%;
		font-family: 'Roboto', sans-serif;
				&:focus{
				border: 2px solid $mainColor;
				}
			}
		}
		h1{
		padding: 50px;
		padding-bottom: 10px;
		}
		h2{
		padding: 50px;
		padding-bottom: 10px;
		padding-top: 0px;
		font-weight: 100;
		}
		button{
		padding: 20px;
		margin:  15px;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		@include hoverAnimationBigger;
		@include border-radius(30px);
		background-color: $color2;
		border-style: hidden;
		color: white;
		box-shadow: inset -13px -11px 21px 14px rgba(174,95,219,0.6);
			&:hover{
			@include box-shadow;
			transform: scale(1.01);
			background-color: $color2;
			box-shadow: inset 21px 14px 21px 14px rgba(174,95,219,0.6);
			
			}
			}







/*FONCTIONALITES*/

.fonctionnement{
	margin-top: 30px;
	margin-bottom: 30px;
	ul{
		display: flex;
		flex-wrap: wrap;
	}
		&__li{
			display: flex;
			flex-basis: 100%;
		padding :30px;
		margin: 20px;
		margin-bottom: 25px;
		background-color: $color4;
		@include hoverAnimationBigger;
		transition: transform 400ms;
		@include border-radius(30px);
		font-weight: bold;
		@include box-shadow;
		}
			& h3{
			flex-basis: 100%;
			}
			&__number{
			border-radius: 20px;
			width: 20px;
			color: white;
			text-align: center;
			padding:5px;
			background-color: $mainColor;
			margin-left: -35px;
			}
			&__icon{
			margin-left:10px;
			margin-top: 5px;
			}
			&__text{
			margin:auto;
			}
		&__li:hover{
		background-color: #f5edff;
		transform: scale(1.01);
			& svg{
				color: $mainColor;
		}
		}
		h1{
		@include centerBlock; 
		padding: 10px;
		}
}

 

/*RESTAURANTS*/

.restaurant{
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $color4;
	@include hoverAnimationBigger;
	flex-wrap: wrap;

		a{
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		justify-content: space-between;
		}
		& article{
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		background-color: white;
		@include border-radius(10px);
		margin: 25px;
		@include box-shadow;
		&:hover{
		transform: scale(1.01);
		transition: all 400ms;
		}
		}
		& img{
		max-height: 200px;
		width: 100%;
		flex-basis: 100%;

		object-fit: cover;
		@include articleBorderRadius(10px);
		}

		& .restaurant__bottomtext{
			display: flex;
			flex-basis: 100%;
			justify-content: space-between;
			padding: 15px;
		& .heartbutton{
			position: relative;
			padding: 5px;
			& svg{
				position: absolute;
				display: inline-flex;
				top:0;
				left:0;
			}
				& :first-child{
				z-index: 99;
				font-weight: bold;
				display: inline;

				}
				& :nth-child(2){
				z-index: 1;
				opacity: 0;
				color: white;
				font-size: 1em;
				display: inline;
				
				}

			&:hover > svg:first-child{
				
				opacity: 0;
					}
			&:hover > svg:nth-child(2){
						opacity: 1;
						color: $color2;
						z-index: 99;
						
					}
				&:active > svg:nth-child(2){
					opacity: 1;
					background: linear-gradient(0deg,#9356DC,#FF79DA);
    				-webkit-background-clip: text;
    				-webkit-text-fill-color: transparent;

					z-index: 99;
					}	

				}


			

		}

}

/*FOOTER*/

footer{
	background-color: #353535;
	color: white;
	padding: 25px;
	a{
		color: white;
	}
	h5{
	font-family: 'Shrikhand', sans-serif;
	color: white;
	font-size: 1em;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
	}
}


nav {
	li{
	padding-bottom: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
	flex-basis: 100%;
	& a{
		display: flex;
	}
	& .nav__icon{
		padding-right:5px;
	}
	}
}


/*PAGE RESTAU*/



.restaurantchapeau{
		display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.homebutton{
		display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding-left: 15px;
}

.entete{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	& img{
		max-height: 450px;
		width: 100%;
		object-fit: cover;
	}

}

.restaurantmenu{
	
	background-color: $color5;
	margin-top: -100px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	position: relative;
	z-index: 10;
	padding-bottom: 15px;

	& h1{
		font-family: 'Shrikhand', sans serif;
		font-size: 1.8em;
		padding-left: 15px;
		display: flex;
		justify-content: space-between;
	}
	& .heartbutton{
			position: relative;
			margin-top: 25px;
			padding-right: 25px;
			display: inline-block;
			& svg{
				position: absolute;
				display: inline-block;
				top:0;
				left:0;
			}
				& :first-child{
				z-index: 99;
				font-weight: bold;
				display: inline-block;

				}
				& :nth-child(2){
				z-index: 1;
				opacity: 0;
				color: white;
				font-size: 1em;
				display: inline-block;
				
				}

			&:hover > svg:first-child{
				
				opacity: 1;
				fill: url(#rg);
					}
			&:hover > svg:nth-child(2){
						opacity: 1;
						color: $mainColor;
						z-index: 99;
						
					}
			&:active > svg:nth-child(2){
					opacity: 1;
					color: $mainColor;
					z-index: 99;
				}


		}
	
	& h2{
		text-transform: uppercase;
		font-size: 1em;
		border-bottom: 1px solid $color3;
		flex-basis: 100%;
		padding-left: 15px;
	}

	& button{
			width: 200px;
			margin: 0 auto 30px;
			display: block;
		}
	& .checkmark{
		position: relative;
		background-color: $color3;
	}
	
	& fieldset{
		border-style: hidden;
		
		& input{
			display: contents;
		}
		& label{
			animation: restaurantappear 4000ms ease-in-out forwards;
			@include box-shadow;
			background-color: white;
			border-radius: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding: 15px;
			margin-bottom: 25px;

			& .titreplat{
				font-weight: bold;
				font-size: 1.1em;
				flex-basis: 100%;
			}
			& .remarquesplat{
				padding-top: 5px;
			}

			& .blocprix{
				display: flex;
				justify-content: end;
				align-items: center;
				& .prix{
				font-weight: bold;
				}
				& .checkmark{
				transform-origin: 50% 0%;
				transform: translateX(0);
				width: 0;
					& svg{
					width: 0;
					}
				}
			}

			& .load1{
				animation-delay: 1s;
			}
			& .load2{
				animation-delay: .5s;
			}
			&:hover{
				& .blocprix{
				margin-top: -15px;
					& .prix{
					margin-right: 25px;
					}
					& .checkmark{
					animation: slide-out-left 1000ms 4000ms ease-in-out forwards;
					transform-origin: 50% 0%;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					width: 100px;
					margin: -17px;
					padding: 27px;
					padding-left: 45px;
					background-color: $color3;
						& svg{
						width: auto;
						margin: auto;
						color: white;
						transform: rotate(-1turn);

						}

					}
				}
			}

		}
	}
}



@media (min-width: $breakpointmobile){

	body{
		display: flex;
		flex-wrap: wrap;
		& header{
		flex-basis: 100%;
		}

		& main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
			& .chapeau{
			flex-basis: 40%;
			margin: 15px;
			}
			& .fonctionnement{
			flex-basis: 50%;
			}

		}
		& footer{
			flex-basis: 100%;
		}
}

}

@media (min-width: $breakpointtablet){
	main{
		display: flex;
		flex-wrap: wrap;
		&.chapeau{
			flex-basis: 30%;
		}
		& .fonctionemment{
			flex-basis: 30%;
		}
	}
}