/*GLOBAL*/

*{
	box-sizing: border-box;

}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;

}

ul{
	list-style-type: none;
	padding: 0;
}

/*HEADER*/

/*MAIN*/

section{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

article img{
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}

/*FOOTER*/